---
---

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  
